
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/41327c884ec445f0a75100cafdf98db0.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiarushujia:before { content: "\e68f"; }

.icon-wode:before { content: "\e632"; }

.icon-kefu:before { content: "\e66d"; }

.icon-jiarushujia2:before { content: "\e697"; }

.icon-chongzhi1:before { content: "\e64b"; }

.icon-shuangcengshujia:before { content: "\e610"; }

.icon-xiaofeijilu:before { content: "\e762"; }

.icon-chongzhi:before { content: "\e6d0"; }

.icon-icon_chongzhijilu:before { content: "\e646"; }

.icon-paihang:before { content: "\e613"; }

.icon-paihang1:before { content: "\e8e6"; }

.icon-paihang11:before { content: "\e62e"; }

.icon-paihang2:before { content: "\e62f"; }

.icon-shouji:before { content: "\e677"; }

.icon-kefu1:before { content: "\e63b"; }

.icon-paihangbang1:before { content: "\e60c"; }

.icon-paihang3:before { content: "\e659"; }

.icon-paihang4:before { content: "\e65a"; }

.icon-paihang5:before { content: "\e66c"; }

.icon-redupaihang:before { content: "\e644"; }

.icon-kefu11:before { content: "\e605"; }

.icon-renwu:before { content: "\e66e"; }

.icon-chongzhijilu:before { content: "\e60d"; }

.icon-star:before { content: "\e60a"; }

.icon-renwu2:before { content: "\e77a"; }

.icon-kefu2:before { content: "\e615"; }

.icon-xiaofeijilu2:before { content: "\e608"; }

.icon-chongzhijilu1:before { content: "\e6bb"; }

.icon-shujia1:before { content: "\e61b"; }

.icon-paihang-:before { content: "\e6a2"; }

.icon-paihang-1:before { content: "\e6a3"; }

.icon-paihang-2:before { content: "\e6a4"; }

.icon-chongzhijilu2:before { content: "\e63e"; }

.icon-shanchu-:before { content: "\e645"; }

.icon-recharge:before { content: "\e602"; }

.icon-paihangweixuanzhong:before { content: "\e624"; }

.icon-fenlei_huaban:before { content: "\e60b"; }

.icon-kefu4:before { content: "\e61d"; }

.icon-paihang9:before { content: "\e6d8"; }

.icon-paihang10:before { content: "\e6d9"; }

.icon-paihang111:before { content: "\e6da"; }

