@charset "utf-8";
.catebox:first-child {
	padding-top: 10px;
}
.catebox {
	padding: 0 10px 10px;
	display: flex;
	background: #fafafa;
}
.catebox .contentbox {
	flex-grow: 1;
}
.catebox span, .catebox a {
	display: inline-block;
	font-size: 0.7rem;
	margin-right: 10px;
	white-space: nowrap;
	line-height: 20px;
	color: #999;
	padding: 0px 3px;
}
.catebox .active {
	color: #f66;
	border: 1px solid #f66;
	border-radius: 6px;
	font-size: 0.6rem;
}
.catebox span {
	padding: 1px 5px;
	color: #333;
}